<h1>Welcome to the Task Manager</h1> <!-- Creates header with h1 tags and text -->

<ul> <!-- ul stands for unordered list which means there will be bullets-->
  <li><a href="/tasks">Task Index</a></li>
  <li><a href="/tasks/new">New Task</a></li>
</ul> <!-- Closing unordered list tag -->


  <!-- li stands for list item a href will create a link named Task index & New tasks
    that will take you to /tasks -->
